<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
     table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

thead {
  background-color: #333;
  color: #fff;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td:first-child,
th:first-child {
  width: 20%;
}

td:nth-child(2),
th:nth-child(2) {
  width: 30%;
}

td:last-child,
th:last-child {
  width: 10%;
}
.delete-btn {
  visibility: hidden;
}

tr:hover .delete-btn {
  visibility: visible;
}
.btn {
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  background-color: #d32f2f;
}

.btn:focus {
  outline: none;
}


    </style>
  </head>
  <script>
    function myFun(id){
      alert('This is the alert')
      // const datas of data
      console.log(id);
      fetch(`/saveRecipe/${id}`,{method:'DELETE'})
    .then((response) => {
      window.location.reload();
      console.log(response.json());
  })
  .catch(error => {
    console.error('Error fetching data:', error);
  });
    }
  </script>
  <body >
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Recipe no</th>
            <th>Recipe Name</th>
            <th>Ingredients</th>
            <th>Instructions</th>
            <th>Cooking Time</th>
            <th>Prepartion Time</th>
            <th>Servings</th>
          </tr>
        </thead>
        <tbody>
          
          <% data.forEach((datas)=>{
             %>
          
          <tr>
          <td><%= datas[0] %></td>
          <td><%= datas[1] %></td>
          <td><%= datas[2] %></td>
          <td><%= datas[3] %></td>
          <td><%= datas[4] %></td>
          <td><%= datas[5] %></td>
          <td><%= datas[6] %></td>
          <td class="delete-btn"><button class="btn" id="delete" onclick="myFun('<%= datas[0] %>') ">Delete</button></td>
          </tr>
            <!-- <br> -->
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
